## Introduction to Variables

## Numbers

In [1]:
3.14159

3.14159

In [2]:
3.14159 * 10 ** 2

314.159

In [3]:
3.14159 * 3 ** 2

28.27431

In [4]:
pi = 3.14159

In [5]:
pi * 3 ** 2

28.27431

In [6]:
radius = 10

In [7]:
pi * radius ** 2

314.159

In [9]:
pi * radius ** 2

28.27431

In [10]:
area = pi * radius ** 2

In [11]:
area

28.27431

In [12]:
print("Area of a circle: ", area)

Area of a circle:  28.27431

In [14]:
print("Area of a circle with radius", radius, "is", area)

Area of a circle with radius 3 is 28.27431

In [15]:
a = 3
b = 4
c = 5
d = 23
e = 55

In [16]:
total = ((a + b) * (c + d)) / e

In [17]:
total

3.5636363636363635

In [18]:
round(total)

4

In [19]:
round(((a + b) * (c + d)) / e)

4

## Boolean

In [2]:
active_a = True

In [87]:
active_b = False

In [3]:
active_a = True
active_b = False

active_a_and_b = active_a and active_b

active_a_and_b

False

In [4]:
active_a = True
active_b = False

active_a_or_b = active_a or active_b

active_a_or_b

True

In [5]:
not_active_a = not active_a
not_active_b = not active_b

In [6]:
active_a, not_active_a

(True, False)

In [7]:
active_b, not_active_b

(False, True)

## Strings

In [20]:
string_variable = "Hello World"

In [9]:
string_variable = "Hello World"
string_variable + " of Python"

'Hello World of Python'

In [11]:
string_variable = "Hello World"
another_string_variable = string_variable + " of Python"

In [12]:
string_variable = "Hello World"
another_string_variable = string_variable + " of Python"
another_string_variable

'Hello World of Python'

In [13]:
len(string_variable)

11

In [14]:
len(another_string_variable)

21

In [15]:
"Strings are enclosed in double quotes"

'Strings are enclosed in double quotes'

In [16]:
'They can also be enclosed in single quotes'

'They can also be enclosed in single quotes'

In [31]:
"Double and " + 'single quotes ' + "are the same in Python"

'Double and single quotes are the same in Python'

In [17]:
singleWithinDoubleQuotes = "John's Car"

print(singleWithinDoubleQuotes)

John's Car

In [37]:
doubleWithinSingleQuotes = 'She said "How are you?"'

print(doubleWithinSingleQuotes)

She said "How are you?"

In [38]:
singleWithinSingleQuotes = 'John\'s Car'

print(singleWithinSingleQuotes)

John's Car

In [39]:
doubleWithinDoubleQuotes = "She said \"How are you?\""

print(doubleWithinDoubleQuotes)

She said "How are you?"

## Manipulating numeric variables

In [60]:
value = 1

value

1

In [19]:
value = 1
value = value + 1

value

2

In [21]:
value = value + 10
value = value + 2
value = value + 3
value = value + 4
value = value + 5

value

50

In [24]:
value= 50
value = value - 4

value

46

In [25]:
value= 50
value = value * 2

value

100

In [26]:
value= 50
value = value * 10

value

500

In [27]:
value= 50
value = value / 4

value

12.5

In [28]:
value= 50
value += 1

value

51

In [29]:
value= 50
value += 4

value

54

In [30]:
value= 50
value -= 5

value

45

In [31]:
value= 50
value *= 2

value

100

In [32]:
value= 50
value /= 5

value

10.0

## Manipulating string variables

In [102]:
str_1 = "Hello! "

str_2 = "How are you?"

In [33]:
str_1 = "Hello! "
str_2 = "How are you?"

greeting = str_1 + str_2

greeting

'Hello! How are you?'

In [34]:
str_1 = "Hello! "
str_2 = "How are you?"

greeting = str_1 + str_2 + str_1

greeting

'Hello! How are you?Hello! '

In [105]:
str_1 = "Hello! "
str_2 = "How are you?"

greeting = 2 * str_1 + str_2

greeting

'Hello! Hello! How are you?'

In [36]:
str_1 = "Hello! "
str_2 = "How are you?"
greeting = (str_1 + str_2 + " ") * 4

greeting

'Hello! How are you? Hello! How are you? Hello! How are you? Hello! How are you? '

In [38]:
str_1 = "Hello! "
str_2 = "How are you?"
greeting = "Namaste!"

greeting = greeting + greeting + greeting
greeting

'Namaste!Namaste!Namaste!'